# BEGIN Redirects for nimrimah.ir
RewriteEngine On

# Redirect www.nimrimah.ir to nimrimah.ir
RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
RewriteRule ^(.*)$ https://nimrimah.ir/$1 [L,R=301]

# Redirect all http traffic to https
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://nimrimah.ir/$1 [L,R=301]

# END Redirects for nimrimah.ir