{% load static %}
{% load blog_tags %}
{% for comment in comments %}
<div class="comment-list left-padding">
    <div class="single-comment justify-content-between d-flex">
        <div class="user justify-content-between d-flex">
            <div class="thumb">
                <img width="60px" height="60px" src="{% static 'img/unknown.jpg' %}" alt="">
            </div>
            <div class="desc">
                <h5><a href="#">{{comment.name.get_full_name}}</a></h5>
                <p class="date">{% timecomment pid=comment.id %}</p>
                <p class="comment">
                    {{comment.message}}
                </p>
            </div>
        </div>
        <!-- <div class="reply-btn">
            <a href="" class="btn-reply text-uppercase">reply</a>
        </div> -->
    </div>
</div>
{% endfor %}